*
!.gitignore
!.git-preserve-permissions
# /home/isucon/.bashrc.backup
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc.backup

# /home/isucon/.bashrc
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc

# /etc/nginx/sites-available/isuumo.conf
/*
!/etc
/etc/*
!/etc/nginx
/etc/nginx/*
!/etc/nginx/sites-available
/etc/nginx/sites-available/*
!/etc/nginx/sites-available/isuumo.conf

# /.git/MERGE_MSG
/*
!/.git
/.git/*
!/.git/MERGE_MSG

